<div class="banner-curiculum">
  <div class="banner-text">
    <div class="banner-title animate__animated animate__backInDown">
      Maxence Lenoir
    </div>
    <div class="banner-subtitle animate__animated animate__backInDown">
      <%= t('dev') %>
    </div>
  </div>
  <div class="container-fullstack">
    <div class="card-fullstack">
      <i class="fas fa-code"></i>
      <div class="name">Front-end</div>
    </div>
    <div class="card-fullstack">
      <i class="fas fa-database"></i>
      <div class="name">Back-end</div>
    </div>
    <div class="card-fullstack">
      <i class="fas fa-laptop"></i>
      <div class="name">Web Design</div>
    </div>
  </div>
  <%= link_to "##{t('about-me').gsub(/\s/, '')}", class:"without-decoration color-orange scroll-down animate__animated animate__pulse animate__infinite" do %>
    <i class="fa fa-angle-double-down"></i>
  <% end %>
  <div class="banner-languages">
    <% @languages.each do |language, sym| %>
      <%= link_to root_path(locale: sym), class: "without-decoration" do %>
        <%= image_tag "#{language}.png", class: "icon-flag" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <section id=<%= t('about-me').gsub(/\s/, '') %>>
    <h3 class="text-center mt-5 mb-2"><%= t('about-me') %></h3>
    <div class="card-pres">
      <div class="image-char5"><%= image_tag('character_5.svg')%></div>
      <div class="card-pres-intro">
        <%= image_tag 'profile-pic.jpeg', class: "card-pres-av" %>
        <div class="text-paragraphe"><%= t('description_first') %><%= link_to " Le Wagon ", "https://www.lewagon.com", class: "without-decoration color-orange" %><%= t('description_second') %></div>
      </div>
      <div class="motivation">
        <div class="text-motivation"><%= t('Iam') %></div>
        <div class="grid-motiv">
            <%= t('motivation') %> <i class="fas fa-check-circle"></i>
            <%= t('curious') %> <i class="fas fa-check-circle"></i>
            <%= t('fast-learner') %> <i class="fas fa-check-circle"></i>              
            <%= t('challenges') %> <div class="loader"></div>
        </div>
      </div>
    </div>
  </section>
  <h3 class="text-center mt-5"><%= t('skills') %></h3>
  <div class="container-levels">
    <% @levels.each do |level| %>
      <div class="wrapper">
        <div class="card-level <%= level %>">
          <%= t(level) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-skills">
    <div class="image-char13"><%= image_tag('character_13.svg')%></div>
    <% @skills.each do |skill| %>
      <div class="wrapper">
        <div class="card-skill <%= skill.level %>">
          <div class="card-skill-img">
            <svg height="100px" width="100px" viewBox="0 0 128 128">
              <%= skill.svg_path.html_safe %>
            </svg>
          </div>
          <div class="card-skill-content">
            <div><%= skill.name %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h3 class="text-center mt-5 mb-2"><%= t('projects')%></h3>
    <div class="grid-projects">
      <% @projects.each do |project| %>
        <div class="grid-col-projects">
        <%= link_to project.url, target: "_blank", class: "without-decoration" do %>
          <div class="card-project">
            <div class="card-project-image" style="background-image: url('<%= image_path project.asset_url %>');">
            </div>
            <div class="card-project-image-hovered" style="background-image: url('<%= image_path project.asset_url %>');">
            </div>
            <div class="card-project-content">
              <h4><%= project.name %></h4>
              <div class="mb-2"><%= project.description %></div>
              <ul class="font-italic">
                <li><%= project.skill_one %></li>
                <li><%= project.skill_two %></li>
                <li><%= project.skill_three %></li>
              </ul>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  <footer>
    <h3 class="text-center mt-5 mb-2"><%= t('contact') %></h3>
    <ul class="social-icons">
      <li>
        <%= link_to 'https://github.com/MaxenceLenoir', target: "_blank" do  %>
          <i class="fab fa-github"></i>
        <% end %>
      </li>
      <li>
        <%= link_to 'https://www.linkedin.com/in/maxence-lenoir-30a73b75/', target: "_blank" do  %>
          <i class="fab fa-linkedin-in"></i>
        <% end %>
      </li>
      <li>
        <%= mail_to "maxence.lenoir1206@gmail.com", target: "_blank" do  %>
          <i class="far fa-envelope"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "#", onclick: "return false;"  do %>
          <i class="fas fa-phone"></i>
        <% end %>
      </li>
    </ul>
    <div class="phone-number">07 61 60 05 52</div>
  </footer>
</div>
