<div class="banner-curiculum">
  <div class="monitor">
    <%= image_tag "logo-apple.png", class: "logo" %>
    <div id="index">
    </div>
    <span class="banner-title" id="banner-typed-text"></span>
  </div>
</div>

<div class="container">
  <h3 class="text-center mt-5 mb-2">A propos de moi</h3>
  <p class="text-paragraphe">Ingénieur mécanique depuis 2017, j'ai décidé de me ré-orienter en 2020 dans le développement Web. Déjà très intéressé par le domaine de l'informatique, j'ai décidé de suivre une formation proposée par <%= link_to "Le Wagon", "https://www.lewagon.com", class: "without-decoration color-green" %>  entre Juillet et Septembre 2020. Depuis, je développe mes connaissances dans ce domaine que ce soit au travers de projets personnels ou d'autres formations sur divers langages de programmation.</p>
  <p class="text-motivation">A la recherche de nouveaux défis !</p>
  <h3 class="text-center mt-5">Compétences</h3>
  <div class="container-levels">
    <% @levels.each do |level| %>
      <div class="wrapper">
        <div class="card-level <%= level %>">
          <%= level %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-skills">
    <% @skills.each do |skill| %>
      <div class="wrapper">
        <div class="card-skill <%= skill.level %>">
          <div class="card-skill-img">
            <svg height="100px" width="100px" viewBox="0 0 128 128">
              <%= skill.svg_path.html_safe %>
            </svg>
          </div>
          <div class="card-skill-content">
            <div><%= skill.name %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h3 class="text-center mt-5 mb-2">Mes Projets</h3>
    <div class="grid-projects">
      <% @projects.each do |project| %>
        <div class="grid-col-projects">
        <%= link_to project.url, target: "_blank", class: "without-decoration" do %>
          <div class="card-project">
            <div class="card-project-image" style="background-image: url('<%= image_path project.asset_url %>');">
            </div>
            <div class="card-project-image-hovered" style="background-image: url('<%= image_path project.asset_url %>');">
            </div>
            <div class="card-project-content">
              <h4><%= project.name %></h4>
              <div class="mb-2"><%= project.description %></div>
              <ul class="font-italic">
                <li><%= project.skill_one %></li>
                <li><%= project.skill_two %></li>
                <li><%= project.skill_three %></li>
              </ul>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  <footer>
    <h3 class="text-center mt-5 mb-2">Me contacter</h3>
    <ul class="social-icons">
      <li>
        <%= link_to 'https://github.com/MaxenceLenoir', target: "_blank" do  %>
          <i class="fab fa-github"></i>
        <% end %>
      </li>
      <li>
        <%= link_to 'https://www.linkedin.com/in/maxence-lenoir-30a73b75/', target: "_blank" do  %>
          <i class="fab fa-linkedin-in"></i>
        <% end %>
      </li>
      <li>
        <%= mail_to "maxence.lenoir1206@gmail.com", target: "_blank" do  %>
          <i class="far fa-envelope"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "#", onclick: "return false;"  do %>
          <i class="fas fa-phone"></i>
        <% end %>
      </li>
    </ul>
    <div class="phone-number">07 61 60 05 52</div>
  </footer>
</div>
