<div class="banner-curiculum">
  <div class="monitor">
    <%= image_tag "logo-apple.png", class: "logo" %>
    <div id="index">
    </div>
    <span class="banner-title" id="banner-typed-text"></div>
  </div>
</div>

<div class="container">
  <h3 class="text-center">A propos de moi</h3>
  <p>Ingénieur mécanique depuis 2017, j'ai décidé de me ré-orienter en 2020 dans le but de m'épanouir davantage dans mon travail. Déjà très intéressé par le domaine de l'informatique, j'ai décidé de suivre une formation de <strong>développeur Web</strong> proposé par Le Wagon entre Juillet et Septembre 2020. Depuis, je développe mes connaissances dans ce domaine que ce soit au travers de projets personnels ou de d'autres formations sur divers langages de programation.</p>
  <%= image_tag "profil.jpg", class: "avatar-big" %>
  <h3 class="text-center">Skills</h3>
  <div class="container-levels">
    <% @levels.each do |level| %>
      <div class="wrapper">
        <div class="card-level <%= level %>">
          <%= level %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-skills">
    <% @skills.each do |skill| %>
      <div class="wrapper">
        <div class="card-skill <%= skill.level %>">
          <div class="card-skill-img">
            <svg height="100px" width="100px" viewBox="0 0 128 128">
              <%= skill.svg_path.html_safe %>
            </svg>
          </div>
          <div class="card-skill-content">
            <div><%= skill.name %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h3 class="text-center">My Projects</h3>
  <footer>
   <ul class="social-icons">
      <li>
        <%= link_to 'https://github.com/MaxenceLenoir' do  %>
          <i class="fab fa-github"></i>
        <% end %>
      </li>
      <li>
        <%= link_to 'https://www.linkedin.com/in/maxence-lenoir-30a73b75/' do  %>
          <i class="fab fa-linkedin-in"></i>
        <% end %>
      </li>
      <li>
        <%= link_to '#' do  %>
          <i class="far fa-envelope"></i>
        <% end %>
      </li>
    </ul>
  </footer>
</div>
